:root {
	--shadow-color: #FFFFC0;
	--shadow-color-head: #FFFF26;
	--shadow-color-inv: #000000;
	--shadow-color-lime: #CFE288;
	--table-border-color: #707010;
	--nameplate-color: #5b534b;
}

body {
  font-family: "Besley";
  font-weight: 600;
  color: black !important; 
  text-shadow: 0px 0px 3px var(--shadow-color), 0px 0px 5px var(--shadow-color), 0px 0px 8px var(--shadow-color), 0px 0px 3px var(--shadow-color), 0px 0px 5px var(--shadow-color), 0px 0px 8px var(--shadow-color);
  background-color: #4C9F81;
  background-image: url("WheelBgSmaller.jpg");
  background-attachment: fixed;
}

a {
  text-shadow: 0px 0px 3px var(--shadow-color-inv), 0px 0px 5px var(--shadow-color-inv), 0px 0px 8px var(--shadow-color-inv), 0px 0px 3px var(--shadow-color-inv), 0px 0px 5px var(--shadow-color-inv), 0px 0px 8px var(--shadow-color-inv);
  color: white !important;
}

a:visited {
  text-shadow: 0px 0px 3px var(--shadow-color-inv), 0px 0px 5px var(--shadow-color-inv), 0px 0px 8px var(--shadow-color-inv), 0px 0px 3px var(--shadow-color-inv), 0px 0px 5px var(--shadow-color-inv), 0px 0px 8px var(--shadow-color-inv);
  color: #D0D0D0;
}

h1 {
  text-align: center;
  font-weight: 900;
}

h1:before {
    content:"\025c6  ";
}

h1:after {
    content:" \025c6";
}

h2 {
  text-align: center;
  font-weight: 850;
}

h3 {
  text-align: center;
  font-weight: 700;
}

ul, ol {
  margin: auto;
  width: 50%;
  list-style-type: "\02B25  ";
  background-color: #f0f0c880;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: var(--table-border-color)
}

table {
  margin: auto;
  width: auto;
}

th {
	font-weight: 700;
	font-size: 133%;
	font-stretch: condensed;
	text-shadow: 0px 0px 3px var(--shadow-color-head), 0px 0px 5px var(--shadow-color-head), 0px 0px 8px var(--shadow-color-head), 0px 0px 3px var(--shadow-color-head), 0px 0px 5px var(--shadow-color-head), 0px 0px 8px var(--shadow-color-head);
	background-color: #D8D820a0;
	padding: 6px 8px;
}

td {
	font-weight: 500;
	text-shadow: 0px 0px 3px var(--shadow-color), 0px 0px 5px var(--shadow-color), 0px 0px 8px var(--shadow-color);
	background-color: #f0f0c8a0;
	padding: 6px 8px;
}

p {
  text-align: center;
  margin: auto;
  width: 50%;
  padding-bottom: 20px;
  background-color: #f0f0c880;
}

.nobreak {
	white-space: nowrap;
}

.thicc {
	font-weight: 800;
}

.petit {
  font-size: 80%;
  line-height: 140%;
}

.trespetit {
	font-size: 60%;
	line-height: 140%;
}

td.Contestants {
  background-color: var(--nameplate-color);
  border-collapse: separate;
}

tr.Contestants {
  background-color: var(--nameplate-color);
  border-collapse: separate;
}

table.Contestants {
  border-collapse: separate;
  border-width : 0px;
}

.Player {
  background-color: var(--nameplate-color);
  font-family: Arial;
  font-weight: 700;
  font-stretch: condensed;
  text-shadow: none;
  color: white;
  border-width: 5px;
  border-collapse: separate;
  padding: 3px 4px;
  white-space: nowrap;
}

.Player1 {
	border-color: #ff0000;
}

.Player2 {
	border-color: #ffff00;
}

.Player3 {
	border-color: #2b60ff;
}

.Player4 {
	border-color: #00c000;
}

.markdown-body > h1:first-child {
	display: none;
}

.multicolumn-list {
	width: auto;
	column-count: 5; /* Specifies the number of columns */
	column-gap: 1em; /* Sets the spacing between columns */
	column-rule: 1px solid #ccc; /* Adds a vertical line between columns */
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* Add dots under the hoverable text */
  cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: #f0f0c8c0;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

